html {
  height: 100%;
}

body {
  background-image: url("http://31.media.tumblr.com/44445713d1ea561f333795487720afc7/tumblr_ms9mywAOPn1st5lhmo1_1280.jpg");
  background-size: cover;
  color: white;
  font-family: 'The Girl Next Door', cursive;
  font-size: 18px;
}

h1, h2 {
  font-size: 95px;
}

h1, h2 {
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#inputs {
  height: 70px;
  border: none;
  font-size: 30px;
  color: gray;
  text-align: center;
  border-radius: 10px;
}

a {
  color: white;
}

#guest-list, #food-item-list {
  overflow: scroll;
  max-height: 500px;
}

.container {
  margin: 20px auto;
  width: 700px;
  padding: 30px 30px 30px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 20px;
  /*height: 500px;*/
  margin-top: 100px;
}

#button {
  /*position: fixed;*/
  margin-top: 30px;
  background-color: black;
  color:white;
  border:none;
  padding:20px;
  border-radius: 10px;
}

li:last-child {
  margin-bottom: 30px;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}

th {
  text-align: left;
}

h1 {
	text-align: center
}

#errors {
  color: red;
}


