<div class="container">
  <p><b>Good work. You joined this list of awesome people coming to our party.</b></p>
  <% @attendees.each do |attendant| %>
    <p><%= attendant.name %></p>
  <% end %>
  <p><a id="button" href="/bringSomething!">Tell us what You'd like to bring.</a></p>
</div>
