<div class="container">
  <div id="rsvp-form">
    <form id="names" action="/rsvp" method="post">
    <input id="inputs" name="name" autofocus placeholder="names...">
    <input id="button" type="submit" value="we're coming!">
    </form>
  </div>
</div>
