<div class="container">
  <div id="rsvp-form">
    <form action="/rsvp" method="post">
    <input id="inputs" name="name" autofocus>
    <input id="button" type="submit" value="we're coming!">
    </form>
  </div>
</div>
